body{
    min-height:400px;
}

.flat-row-title {
    border-bottom: 1px solid #e5e5e5;
    margin: 40px 0;
}
.flat-row .widget-title h3 {
    margin-bottom: 40px;
}

ul.product-list.style1 li .img-product{
    margin-bottom: 30px;
}

ul.product-list.style1 li .img-product {
    height: auto;
    width: auto;
}

.imagebox.style1 .box-content .cat-name span {
    color: #919191;
    margin-top:auto;
    position: relative;
    display: block;
    font-size: 16px;
}
.imagebox.style1 .box-content .product-name {
    min-height: unset;
    margin-top: 20px;
}

.imagebox.style1 .box-content .product-name span {
    line-height: 20px;
    font-size: 16px;
    color: black;
}

.imagebox.style1 .box-content .price span {
    margin: 8px;
    display: inline;
    font-size: 16px;
}

.imagebox.style1 .box-content span.price{
    font-size: 18px;
    font-weight: 600;
}


.imagebox.style1 .box-image {
    border: 2px solid #e5e5e5;
    border-radius: 7px;
    width:auto;
}


.imagebox.style1 .box-bottom .btn-add-cart {
    margin-left: 40px;
}

.product-box.style1:hover .imagebox .box-bottom {
    margin-top: 75px;
    position: absolute;
}

.imagebox .box-bottom .btn-add-cart a.green {
    background-color: #919191 !important;
}
    .imagebox .box-bottom .btn-add-cart a.green:hover :focus {
        color: #afafaf !important;
    }

.flat-form {
    padding: 0px 0 40px;
}

#form-contact .form-box input {
    display: inline;
    text-align: right;
}

#form-contact .form-box input:focus {
    text-align: initial;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], input[type="email"]{
    background-color:white;
}

.flat-tab {
    padding: 0px 0 21px;
}

/* Table Styles */

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:10px;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
     }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #f08804;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }


.order-tracking #PriceHolder .well .media-heading {
    text-align: right;
    font-weight: 600;
    padding: 5px 0;
}

.order-tracking #PriceHolder .well #customers {
    margin: auto;
}

.order-tracking #PriceHolder .well .media .pull-left {
    margin: initial;
}

#mega-menu > ul.menu {
    height: auto;
}

.order-tracking #customers td.client-name {
    font-weight: 600;
    font-size: 14px;
    color: #000;
}





@media only screen and (max-width: 768px) {
    #customers th {
        font-size: 12px;
    }



}

